cat <<EOF > .gitignore
# macOS system files
.DS_Store

# Python environment and cache
.venv/
env/
venv/
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints/

# Data Files
data/
*.mat
*.edf
*.npy
*.npz
*.csv

# Data Files
ieeg_ieds_bids/
*.mat
*.edf
*.npy
*.npz
*.csv

# Model Weights
models/
*.pth
*.h5
*.pkl

# IDE settings
.vscode/
.idea/
EOFieeg_ieds_bids/
